html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }



  body {
    margin: 0;
  }



  main {
    display: block;
  }



  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }



  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }



  a {
    background-color: transparent;
  }
  
  

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }



  b,
  strong {
    font-weight: bolder;
  }



  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }



  small {
    font-size: 80%;
  }
  
  

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }



  sub {
    bottom: -0.25em;
  }



  sup {
    top: -0.5em;
  }
  
  

  img {
    border-style: none;
  }



  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }



  button,
  input { /* 1 */
    overflow: visible;
  }



  button,
  select { /* 1 */
    text-transform: none;
  }



  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }



  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }



  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }



  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }



  progress {
    vertical-align: baseline;
  }



  textarea {
    overflow: auto;
  }



  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }



  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }



  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }



  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }



  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }



  details {
    display: block;
  }
  
  

  summary {
    display: list-item;
  }



  template {
    display: none;
  }
  
  

  [hidden] {
    display: none;
  }


/*----------------------------------------------*/

body{
  font-family:sans-serif;
  font-size: 13px;
  overflow: hidden;
}

.container{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}



.linha{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}



/* HEADER */
body > header{
    background-image: url(https://semanaweb.kenzie.com.br/static/media/code-bg.c2e2c8a4.png);
    background-repeat: repeat;
    background-position: left top;
    
}


body > header .linha .coluna h1{
    color:#fff;
    margin-left: 30px;
    font-weight:unset

}

body > header .linha .coluna img{
    width: 100%;
    max-width: 120px;

}



/* MAIN */
main{
    background-color: #f7f7f7;
    height: 100vh;
    padding-top: 80px;
}



main article{
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px #000;
}



main article header .linha span{
    font-size: 26px;
    font-weight: bold;
}



div .linha .coluna-county{
    flex-grow: 2;
}

div {
    flex-grow: 3;
    padding: 0
}

.container .tabela .coluna  {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 3px 0;
    font-size: 23px;

}

main article section .coutry img{
    width:100%;
    max-width:30px;
}

main article header .linha .coluna-medalha span {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
}

main article header .linha .coluna-medalha:nth-child(3) span{
  background-color:gold;

}
main article header .linha .coluna-medalha:nth-child(4) span{
  background-color:silver

}
main article header .linha .coluna-medalha:nth-child(5) span{
  background-color:rgb(150, 116, 78)

}

main article section {
  font-size:16px;

}

.tabela .coluna-rank:nth-child(2n +1) {
  background-color:rgb(212, 206, 199);

}

section{
  height:775px;
  overflow-y: scroll;
}