header{background-color:#CCC;}
nav{background-color:#FF0;}
section{background-color:#FFF;padding: 10px;border: }
article{background-color:#0F0;display: block;}
aside{background-color:#00F;width:50%;float:left;}
footer{background-color:#000;color:#FFF;height: 50px;}
details{color:#F00;